{% extends 'base.html' %}

{% block content %}
    
    <main class="container mt-5">
        <section class="card card-body" >
            <h1 class=" display-1 text-center ">Django App</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cumque voluptates quibusdam dolore nostrum minima aliquid corporis hic animi natus nam recusandae quasi, blanditiis error optio quas magni soluta suscipit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum cumque voluptates quibusdam dolore nostrum minima aliquid corporis hic animi natus nam recusandae quasi, blanditiis error optio quas magni soluta suscipit!</p>

            <div class="text-center">
                <a class="btn btn-secondary" href="{% url 'signin' %}"</a>
                    Signin
                </a>
                <a class="btn btn-dark" href="{% url 'signup' %}"</a>
                    Signup
                </a>
    
            </div>
        </section>
    </main>

{% endblock %}

